:root {
    /* Nested cells */
    --defined-cell-bg-color: #005DBA;/* #4E67C8; */
    --defined-cell-color: #A5D028; /* #5ECCF3; */
    --played-cell-bg-color: #A5D028; /* #5ECCF3; */
    --played-cell-color: #005DBA;/* #4E67C8; */
    --nested-cell-bg-color: #FFC000; /*#56C7AA; */
    --nested-cell-color: black;
    --insolvable-cell-bg-color:  #F24099; /* #F14124; */
    --insolvable-cell-color:  white;
    --selected-cell-bg-color: #08CC78; /*#A7EA52; */
    --selected-cell-color: black;
    --selected-cell-border-color: white;
    --error-cell-bg-color:  #F24099; /* #F14124; */
    --error-cell-color: white;

    --header-bg-color: #099BDD; /* #212745; */
    --header-color:  #F2E2F2;/* #B4DCFA; */
    --help-color: #FFC000; /* #56C7AA; */

    --number-btn-bg-color: #F2E2F2; /* #5ECCF3; */
    --number-btn-color: black;
    --delete-btn-bg-color:  #F24099; /* #F14124; */
    --delete-btn-color: white;
    --main-btn-bg-color: #F2E2F2; /* #5ECCF3; */
    --main-btn-color: black;
    
    --main-btns-bg-color: #099BDD; /* #212745; */ 

    --automatic-btn-bg-color: #F2E2F2; /* #5ECCF3; */
    --automatic-btn-color:#005DBA;/* #4E67C8; */
    --border-color: #099BDD; /* #212745; */
   
    --speed-setting-bg-color: #F2E2F2; /*#5ECCF3; */

  /*  --screen-bg-color : #B4DCFA; */
    --grid-bg-color: #F2E2F2;/* #B4DCFA; */
    --col2-bg-color: #099BDD; /* #212745; */
    --col2-color: #F2E2F2;/* #B4DCFA; */

    --progress-bg-color: #099BDD; /* #212745; */
    --progress-color: #F2E2F2;/* #B4DCFA; */
     
    /* Old definitions */
    --bg-main: #B4DCFA;
    --bg-body: #fff;
    --color-txt: #000;
    --filled-color: #000;
    --nested-color: orange;
    --filled-bg: lightgrey;
    --button-bg: #caf0f8;
    --white: #fff;
    --blue: #00aeef;
    --light-blue: lightblue;
    --red: #e91e63;
    --black: #000;

    --nav-size: 70px;
    --sudoku-cell-size: 50px;
    --border-radius: 10px;
    --space-y: 20px;
    --gap: 5px;
    --font-size-sm: 0.7rem;
    --font-size: 1.3rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Open Sans', sans-serif;
/*      background-color: var(--body-bg-color); */
    overflow-x: hidden;
    user-select: none;
}

.main {
    /* height: 100vh; */
    padding-top: var(--nav-size);
    display: grid;
    place-items: center;
}

.screen {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-width: 400px;
}

/*======================================*/
/* Sudoku grid block */
/*======================================*/

.main-sudoku-grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(9, auto);
    padding: var(--space-y);
    border: 5px solid var(--border-color);
    background-color : var(--grid-bg-color);
}

.sudoku-grid-cell {
    height: var(--sudoku-cell-size);
    width: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}
.sudoku-grid-cell.define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}
.sudoku-grid-cell.play {
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);
}

.sudoku-grid-cell.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2px;
    place-items: center;
    font-size: var(--font-size-sm);
    padding: 1px;
    background-color: var(--nested-cell-bg-color);
    color: var(--nested-cell-color);
    /* border: 1px solid var(--border-color); */
}

.sudoku-grid-cell.inSolvable {
    background-color: var(--insolvable-cell-bg-color);
    color: var(--white);
}

.sudoku-grid-cell.selected {
    background-color: var(--selected-cell-bg-color);
    color: var(--black);
    border: 3px solid var(--border-color);
}

.nested>div.neccessary {
    padding: 2px;
    border-radius: 3px;
    background-color: #F56617; /*#FF8021; */
    font-size: 1.5em;
    color: white;
    border: 1px solid white;
}
.sudoku-grid-cell.hover {
    border: 3px solid var(--border-color);
}

.sudoku-grid-cell.err {
    background-color: var(--error-cell-bg-color);
    color: var(--error-cell-color);
}


.inputArea {
    display: grid;
    grid-template-columns: 1fr 290px;
}

.sudoku-header {
    background-color: var(--header-bg-color);
    color: var(--header-color);
    border-bottom: 5px solid var(--border-color);
    text-align: center;

}
.helpNode {
    color: var(--help-color);
}

.sudoku-title {

    padding-top: 20px;
    padding-bottom: 10px;
    font-size: xx-large;

}
.help {
    margin-bottom:10px;
}
/*======================================*/
/* Exec button block                  */
/*======================================*/

.game-col2 {
    border-top: 5px solid var(--border-color);
    border-right: 5px solid var(--border-color);
    border-bottom: 5px solid var(--border-color);
    background-color: var(--col2-bg-color);
    color: var(--col2-color);
}


.exec-btn-groups {
    padding: var(--space-y);
}

.exec-btn-group, .auto-exec-container {
    margin-top: 20px;

}

.manual-exec-btns, .automatic-exec {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
}

.mode-btns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
    padding-right: 10px;
}




.btn-define, .btn-play {
    box-shadow: 3px 3px darkgray;
    margin: 5px;
}


.btn-define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}


.btn-define.pressed, .btn-play.pressed {
    box-shadow: 0px 0px darkgray;
    transform: translate(2px, 2px);
}


.numbers {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}


.number {
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    background-color: var(--number-btn-bg-color);
    color: var(--number-btn-color);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    box-shadow: 3px 3px darkgray;
    cursor: pointer;
}

.number:active, .delete:active {
    box-shadow: 0 0px darkgray;
    transform: translate(2px, 2px); 
}
.delete {
    background-color: var(--delete-btn-bg-color);
    color: var(--delete-btn-color);
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    box-shadow: 3px 3px darkgray;
    cursor: pointer;
}

.number:active, .delete:active, .btn-redo:active, .btn-undo:active, .btn-automatic:active {
    transform: translate(2px, 2px);
}

.auto-exec-btns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.btn-auto-group {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.btn-image {
    width: 25px;
    height: 20px;
}


.btn-define, .btn-play, .btn-automatic {
    padding: 5px;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px darkgray;
    border: hidden;
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
    
}
.btn-automatic:active {
    box-shadow: 0 0px darkgray;
    transform: translate(2px, 2px); 
}

.btn-play {
    background-color: var(--played-cell-bg-color);
    color: black;
}

.btn-automatic {
    background-color: var(--automatic-btn-bg-color);
    color: var(--automatic-btn-color);
}

/*======================================*/
/* Main button block */
/*======================================*/

.main-btns {
    /*  border: 5px solid var(--red);  */
    border-left: 5px solid var(--border-color);
    border-right: 5px solid var(--border-color);
    border-bottom: 5px solid var(--border-color);
    background-color: var(--main-btns-bg-color);
    padding: 5px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.config-btns {
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.storage-btns {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.main-btn:active {
    box-shadow: 0 0px darkgray;
    transform: translate(2px, 2px);
}

.main-btn {
    box-shadow: 3px 3px darkgray;
    background-color: var(--main-btn-bg-color);
    color: var(--main-btn-color);
    border-radius: var(--border-radius);
    border: hidden;
    display: grid;
    place-items: center;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}
/*
.screen {
    background-color: var(--screen-bg-color);
}
*/

/*======================================*/
/* Progress block */
/*======================================*/

.progress-box {
    padding-top: 5px;
    padding-left: var(--space-y);
    padding-right: var(--space-y);
    padding-bottom: 5px;
    border-left: 5px solid var(--border-color);
    border-right: 5px solid var(--border-color);
    border-bottom: 5px solid var(--border-color);
    background-color: var(--progress-bg-color);
    color:var(--progress-color);
}
.manual-exec-btns.on, .automatic-exec.on {
    padding-right: 10px;
    ;
    border-right: 5px solid var(--number-btn-bg-color);
}

.manual-exec-btns, .automatic-exec {
    padding-right: 10px;
    ;
}

.name-value {
    display: inline;
}

.depth-group {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0.35fr 0.5fr 0.5fr;

}

.depth-label, .progress-label {
    font-weight: bold;
}

.progress-group {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 0.17fr 0.17fr 1fr;
    gap: 2px;
}

.search-max-depth, .speed-field {
    margin-top: 3px;
}

.search-depth {
    color: var(--header-color);
    font-weight: bold;
}

.sudoSettingDepth, .speedSetting {
    padding: 1px;
    background-color: var(--speed-setting-bg-color);
}

#myProgress {
    width: 100%;
    height: 20px;
    background-color: var(--nested-cell-bg-color);
}

#myBar {
    width: 10%;
    height: 20px;
    background-color: var(--played-cell-bg-color);
    color: black;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
   }


.textInDlgs {
    size: 100;
    padding: 5px;
    font-size: 16px;
}

.ok-cancel-btns {
    margin-top: 10px;
    ;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-row {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}


.successForm {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.success-ok-cancel-btns {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.successImg {
    margin-left: 15px;
    height: 270px;
    width: 180px;
}

.okCancelBtn {
    display: grid;
}



/*======================================*/
/* Global block */
/*======================================*/
.zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.cell-err {
    animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-out-shake {
    0% {
        transform: scale(2);
    }

    25% {
        transform: scale(2) rotate(30deg);
    }

    50% {
        transform: scale(2) rotate(-30deg);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --nav-size: 50px;
        --sudoku-cell-size: 30px;
        --border-radius: 5px;
        --space-y: 10px;
        --gap: 2px;
        --font-size: 1rem;
        --font-size-lg: 1.5rem;
        --font-size-xl: 2rem;
    }

    .input-name, .btn {
        height: 50px;
    }

    .sudoku-grid-cell.hover {
        border-width: 2px;
    }

    .screen {
        min-width: unset;
    }

    .main {
        height: 100vh;
    }
}