:root {
    --bg-main: #f0f2f5;
    --bg-body: #fff;
    --color-txt: #000;
    --filled-color: #000;
    --nested-color: orange;
    --filled-bg: lightgrey;
    --button-bg: #caf0f8;
    --white: #fff;
    --blue: #00aeef;
    --light-blue: lightblue;
    --red: #e91e63;
    --black: #000;
    --nav-size: 70px;
    --sudoku-cell-size: 50px;
    --border-radius: 10px;
    --space-y: 20px;
    --gap: 5px;
    --font-size-sm: 0.7rem;
    --font-size: 1.3rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-body);
    overflow-x: hidden;
    user-select: none;
}

.main {
    /* height: 100vh; */
    padding-top: var(--nav-size);
    display: grid;
    place-items: center;
}

.screen {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-width: 400px;
}

/*======================================*/
/* Sudoku grid block */
/*======================================*/

.main-sudoku-grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(9, auto);
    padding: var(--space-y);
    border: 5px solid var(--blue);
}

.sudoku-grid-cell {
    height: var(--sudoku-cell-size);
    width: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
    background-color: var(--bg-main);
    color: var(--blue);
}

.sudoku-grid-cell.nested.selected {
    background-color: var(--light-blue);
    color: var(--black);
    border: 2px solid var(--blue);
}

.sudoku-grid-cell.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2px;
    place-items: center;
    font-size: var(--font-size-sm);
    padding: 1px;
    background-color: lightyellow;
    border: 1px solid gray;
}


.sudoku-grid-cell.inSolvable {
    background-color: rgb(247, 137, 137);
    color: var(--white);
}


.sudoku-grid-cell.selected {
    background-color: var(--light-blue);
    color: var(--black);
    border: 2px solid var(--blue);
}

.nested>div.neccessary {
    padding: 2px;
    border-radius: 3px;
    background-color: var(--blue);
    font-size: 1.5em;
    color: white;
}

.sudoku-grid-cell.define {
    color: var(--filled-color);
}

.sudoku-grid-cell.play-selected {
    background-color: var(--blue);
    color: var(--white);
}

.sudoku-grid-cell.approximate-selected {
    background-color: var(--nested-color);
    color: var(--black);
}

.sudoku-grid-cell.define-selected {
    background-color: var(--filled-bg);
    color: var(--filled-color);
}

.sudoku-grid-cell:hover {
    border: 2px solid var(--blue);
}

.sudoku-grid-cell.hover {
    border: 3px solid var(--blue);
}

.dark .sudoku-grid-cell.hover {
    border: 1px solid var(--blue);
}

.sudoku-grid-cell.err {
    background-color: var(--red);
    color: var(--white);
}


.inputArea {
    display: grid;
    grid-template-columns: 1fr 290px;
}

.sudoku-title {
    background-color: LightSteelBlue;
    border-bottom: 5px solid var(--blue);
    text-align: center;
    padding: 10px;
    font-size: xx-large;
   
}

/*======================================*/
/* Exec button block                  */
/*======================================*/

.game-col2 {
    border-top: 5px solid var(--blue);
    border-right: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
}


.exec-btn-groups {
    padding: var(--space-y);
}

.exec-btn-group, .auto-exec-container {
    margin-top: 30px;
    
}

.manual-exec-btns, .automatic-exec {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
}

.mode-btns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
    padding-right: 10px;
}


.btn-define, .btn-play {
    margin: 5px;
}

.btn-define {
    background-color: var(--filled-bg);
    color: var(--filled-color);
}


.btn-define.pressed, .btn-play.pressed {
    box-shadow: 0px 0px;
    transform: translate(2px, 2px);
}

.btn-undo-redo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}



.numbers {
    margin-top: 5px;    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}


.number {
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    background-color: var(--bg-main);
    color: var(--color-txt);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}

.delete {
    background-color: var(--red);
    color: var(--white);
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}

.number:active, .delete:active, .btn-redo:active, .btn-undo:active, .btn-automatic:active {
    transform: translate(2px, 2px);
}

.auto-exec-btns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.btn-auto-group {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.btn-image {
    width: 25px;
    height: 25px; 
}


.btn-define, .btn-play, .btn-redo, .btn-undo, .btn-automatic {
    padding: 5px;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px #666;
    border: hidden;
    display: grid;
    place-items: center;
    font-size: var(--font-size);
    cursor: pointer;
}


.btn-redo, .btn-undo {
    margin-left: 5px;
    margin-right: 5px;
    ;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px #666;
    border: hidden;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.btn-play, .btn-redo, .btn-undo, .btn-automatic {
    background-color: var(--blue);
    color: var(--black);
}


/*======================================*/
/* Main button block */
/*======================================*/

.main-btns {
    /*  border: 5px solid var(--red);  */
    border-left: 5px solid var(--blue);
    border-right: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
    
    padding: 10px;
    padding-bottom: 5px;;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.config-btns {
    margin-right: 10px;
    ;
    /*   border: 5px solid var(--red); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.storage-btns {
    margin-left: 10px;
    /*    border: 5px solid var(--red); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.main-btn:active {
    box-shadow: 0 0px gray;
    transform: translate(2px, 2px);
}

.main-btn {
    box-shadow: 5px 5px #666;
    background-color: var(--filled-bg);
    color: var(--filled-color);
    border-radius: var(--border-radius);
    border: hidden;
    display: grid;
    place-items: center;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}



/*======================================*/
/* Progress block */
/*======================================*/

.progress-box {
    padding-top: 5px;;
    padding-left: var(--space-y);
    padding-right: var(--space-y);
    padding-bottom: 5px;
    border-left: 5px solid var(--blue);
    border-right: 5px solid var(--blue);
    border-bottom: 5px solid var(--blue);
    background-color: LightSteelBlue;
}
/*
.track-group {
    margin-top: 10px;;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
 }
 */
.manual-exec-btns.on, .automatic-exec.on {
    padding-right: 10px;;
    border-right: 5px solid var(--blue);
}

.manual-exec-btns, .automatic-exec {
 padding-right: 10px;;
}
.name-value {
    display: inline;
}
.depth-group {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    
}
.depth-label, .progress-label {
    font-weight: bold;
}
.progress-group {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 0.15fr 0.15fr 1fr;
    gap: 2px;    
}
.search-max-depth,.speed-field {
    margin-top: 3px;
}
.search-depth {
    color: blue;
    font-weight: bold;
}

.sudoSettingDepth,.speedSetting {
    padding: 1px;
}
.progress-bar {
    margin: 5px;
}

#myProgress {
    width: 100%;
    height:20px;
    background-color: lightyellow;
  }
  
  #myBar {
    width: 10%;
    height: 20px;
    background-color: var(--blue);
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: white;
  }

/*======================================*/
/* Main button block */
/*======================================*/




/*======================================*/
/* Dialogs block */
/*======================================*/


.storageSaveDialog, .storageRestoreDialog, .storageDeleteDialog {
    visibility: hidden;
    position: fixed;
    width: 400px;
    height: 220px;

    background-color: #f2f2f2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #666666;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border: 3px solid #cccccc;
    left: 50%;
    top: 20px;
}

.combBox {
    padding: 5px;
    font-size: 18px;
}
.ok-cancel-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.okCancelBtn {
    display: grid;
    place-items: center;
    
}

.storageSaveFormElement, .storageRestoreFormElement, .storageDeleteFormElement {
    padding: 10px;
}


/*======================================*/
/* Global block */
/*======================================*/
.zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.cell-err {
    animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-out-shake {
    0% {
        transform: scale(2);
    }

    25% {
        transform: scale(2) rotate(30deg);
    }

    50% {
        transform: scale(2) rotate(-30deg);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --nav-size: 50px;
        --sudoku-cell-size: 30px;
        --border-radius: 5px;
        --space-y: 10px;
        --gap: 2px;
        --font-size: 1rem;
        --font-size-lg: 1.5rem;
        --font-size-xl: 2rem;
    }

    .input-name, .btn {
        height: 50px;
    }

    .sudoku-grid-cell.hover {
        border-width: 2px;
    }

    .screen {
        min-width: unset;
    }

    .main {
        height: 100vh;
    }
}