:root {
    /* app colors */
    /*    --screen-bg-color: white; */
    --screen-bg-color: #F2E2F2;
    --screen-color: #0d1117;
    --standard-btn-bg-color: rgba(0, 0, 0, .25);
    --standard-btn-color: black;
    --standard-btn-height: 20px;
    --delete-btn-bg-color: #e91e63;
    --delete-btn-color: white;

    --help-color: #4e67c8;

    /* Cell colors */
    --defined-cell-bg-color: #7986CB;
    --defined-cell-color: #FFF9C4;

    --played-cell-bg-color: #4DB6AC;
    --played-cell-color: #0d1117;

    --nested-cell-bg-color: #ebdaa4;
    --nested-cell-color: black;

    --selected-cell-bg-color: black;
    --selected-cell-color: white;
    --selected-cell-border-color: Magenta;




    --error-cell-bg-color: #e91e63;
    --error-cell-color: white;

    /* Other definitions */
    --sudoku-cell-size: 9.8vw;
    --border-radius: 5px;
    --space-y: 20px;
    --font-size-btn: 0.8rem;
    --font-size-sm: 0.8rem;
    --font-size: 1.1rem;
    --font-size-lg: 1.4rem;
    --font-size-xl: 1.8rem;

    /* Setting the global font size */
    /* Prozent von der Browser Font-Einstellung */
    font-size: 62.5%;
    /* Effekt: 1rem = 10px; */
}

* {
    padding: 0;
    margin: 0;
    /* padding and border are included in the width and height */
    box-sizing: border-box;
}

/* Set height of body and the document to 100% */
body,

html {
    font-family: 'Open Sans', sans-serif;
    /* height: 95vh; */
    background-color: var(--screen-bg-color);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/*======================================*/
/* Global definitions */
/*======================================*/


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -30px;
    left: 50%;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.mobile-btn {
    background-color: var(--standard-btn-bg-color);
    text-align: center;
    border-radius: 0.3rem;
    border: none;
}

.app-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

/* App-header */


.puzzle-db-button {
    background-color:  #ddd;
    text-align: center;
    font-size: var(--font-size);
    border-radius: 0.5rem;
    border: none;
    margin: 0.8rem 0.6rem 0.6rem 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.puzzle-db-button:active {
    transform: translate(2px, 2px);
}

/* App-header */

.app-name-header, .app-empty-footer {
    display: none;
}

.h-text {
    flex-grow: 9;
}
.help-button {
    flex-grow: 1;
}

.app-name-footer {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    gap:5px;
}   

/*==============================================*/

.puzzle-db-header {
    font-size: var(--font-size-xl);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    background-color: #500;
    color: white;
}


.sudoku-solver-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 95vh;
}

/*======================================*/
/* Sudoku grid block */
/*======================================*/

.gridArea {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.main-sudoku-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: black;
    margin: 0.1em;
}

.grid-plus-explainer {
    border: 1px solid black;
}

.sudoku-block {
    margin: 0.2rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
}

.sudoku-grid-cell {
    position: relative;
    height: 9.8vw;
    width: 9.8vw;
    display: grid;
    font-size: var(--font-size-xl);
    place-items: center;
    margin: 0.05rem;
}

.sudoku-grid-cell.define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}

.sudoku-grid-cell.play {
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);
}


.auto-step-number {
    grid-area: step;
}

.auto-value-number {
    grid-area: value;
}

.auto-value-option1 {
    grid-area: option1;
}

.auto-value-option2 {
    grid-area: option2;
}

.auto-value-option3 {
    grid-area: option3;
}

.auto-value-cell {
    display: grid;
    grid-template-areas:
        'step value value value'
        'step option1 option2 option3';
    gap: 0.1rem;
    background-color: grey;
    color: var(--played-cell-color);
}

.auto-value-cell>div {
    background-color: var(--played-cell-bg-color);
    text-align: center;
    padding: 0.2rem 0.1rem;
}

.auto-value-cell>div.auto-step-number {
    background-color: darkgrey;
    color: black;
    font-size: 0.8rem;
    width: 1rem;
}

.auto-value-cell>div.auto-value-number {
    font-size: 1.2rem;
}

.auto-value-cell>div.auto-value-option1 {
    font-size: 1rem;
    width: 0.8rem;
    padding: 0.1rem;
}

.auto-value-cell>div.auto-value-option2 {
    font-size: 1rem;
    width: 0.8rem;
    padding: 0.1rem;
}

.auto-value-cell>div.auto-value-option3 {
    font-size: 1rem;
    width: 0.8rem;
    padding: 0.1rem;
}

.auto-value-cell>div.open {
    font-size: 0.8rem;
    background-color: var(--nested-cell-bg-color);
}

.sudoku-grid-cell.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    font-size: 1.0rem;
    background-color: var(--nested-cell-bg-color);
    color: var(--nested-cell-color);
}

.sudoku-grid-cell.selected {
    background-color: var(--selected-cell-bg-color);
    color: var(--selected-cell-color);
    border: 2px solid var(--selected-cell-bg-color);
}

.nested>div.neccessary {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    border-radius: 0.3rem;
    font-size: 1.0rem;
    background-color: #56c7aa;
    color: #0d1117;
    border: 0.1rem solid white;
}

.nested>div.indirect-neccessary {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    border-radius: 0.3rem;
    font-size: 1.2rem;
    background-color: #56c7aa;
    color: #0d1117;
    border: 0.1rem solid white;
}

.nested>div.inAdmissible {
    font-weight: bold;
    font-size: 1.0rem;
    color: Crimson;
}

/*
.nested.err>div.inAdmissible {
    background-color: white;
}
*/
.nested.err>div.neccessary.inAdmissible {
    background-color: #56c7aa;
}


.sudoku-grid-cell.hover {
    border: 2px solid var(--selected-cell-border-color);
}

.sudoku-grid-cell.hover-red {
    border: 3px dashed Magenta;
}

.sudoku-grid-cell.hover-green {
    border: 3px dashed green;
}

.sudoku-block.err {
    background-color: var(--error-cell-bg-color);
    color: var(--error-cell-color);
}

.sudoku-grid-cell.row-err,
.sudoku-grid-cell.col-err {
    border: 3px solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.col-err {
    border-top: 2px solid var(--error-cell-bg-color);
    border-bottom: 2px solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.row-err {
    border-left: 2px solid var(--error-cell-bg-color);
    border-right: 2px solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.err,
.sudoku-grid-cell.wrong {
    /* background-color: var(--error-cell-bg-color); 
    color: var(--error-cell-color); */
    border: 4px solid Crimson;
}

.sudoku-grid-cell.err.selected {
    background-color: black;
}

.loaded-evaluations {
    font-size: var(--font-size);
    display: flex;
    padding-top: 5px;
}

.loaded-evaluations {
    margin-top: 0.5rem;
}

.technique,
.reasonInsolvability {
    height: 18px;
    font-size: var(--font-size);
    display: flex;
    padding-top: 3px;
    padding-left: 2px;
    padding-bottom: 3px;
    /* border: 1px solid black; */
    background-color: lightgrey;
}

.reasonInsolvability {
    color: Crimson;
}

/*======================================*/
/* Button container                  */
/*======================================*/

.mobile-btn-container {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.4rem;
}

.footer-trainer-label {
    font-size: var(--font-size-xl);
    text-align: center;
}

.mobile-btn {
    background-color: var(--standard-btn-bg-color);
    text-align: center;
    border-radius: 0.3rem;
    border: none;
}

.btn-define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}

.btn-play {
    background-color: var(--played-cell-bg-color);
}

.btn-define.pressed {
    /* transform: translate(2px, 2px); */
    border: 3px solid darkblue;
}

.btn-play.pressed {
    border: 3px solid darkgreen;
}


.mobile-btn:active {
    transform: translate(2px, 2px);
}

.btn:active {
    transform: translate(2px, 2px);
}

.btn-delete-cell {
    background-color: var(--delete-btn-bg-color);
    color: var(--delete-btn-color);
}

#btn-autoStep {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}

.btn-image {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.4rem;
}


.btn-image-save,
.btn-image-open,
.btn-image-print,
.btn-image-help,
.btn-image-rename,
.btn-image-upload
 {
    margin-top: 0.5rem;
    width: 1.9rem;
    height: 1.9rem;

}

/*======================================*/
/* Evaluation radio buttons             */
/*======================================*/

.eval-btn-block {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* ======================================*/
/* Evaluation block                       */
/* ======================================*/
.eval-legend {
    font-weight: bold;
    margin-left: 1rem;
    font-size: var(--font-size);
}


label {
    display: block;
}

.pc-evaluation-options {
    display: flex;
    flex-direction: row;
    /* margin: 0 0 0.5rem 0; */
}

.pc-floatBlock {
    margin: 0.8rem 0.8rem 0 0.8rem;
    flex-grow: 1;
}

.pc-eval-type {
    height: var(--font-size);
    width: var(--font-size);
    vertical-align: middle;
}

/*======================================*/
/* Progress block */
/*======================================*/

.progress-box {
    border-bottom: 3px solid #0d1117;
    padding-top: 5px;
    padding-bottom: 10px;
    color: var(--screen-color);
    font-size: var(--font-size);
}

.progress-block {
    margin-top: 5px;
    line-height: 16px;
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    gap: 2px;
}

.checkbox {
    margin-left: 3px;
    background-color: var(--screen-bg-color);
}

.step-count-box {
    line-height: 16px;
    height: 16px;
    display: flex;
    margin-right: 5px;
    /*  width: 145px; */
    width: 100%;
}

.forward-backward-image {
    width: 15px;
    height: 15px;
}

.forward,
.backward {
    height: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.autoMode-radio-btns {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--screen-bg-color);
    font-size: var(--font-size);
}

.forward.checked,
.backward.checked {
    background-color: var(--played-cell-bg-color);
}

#myProgress {
    position: relative;
    width: 100%;
    height: 16px;
    font-size: var(--font-size);
    text-align: right;
    padding-right: 5px;
    background-color: var(--nested-cell-bg-color);
}

#myBarDef,
#myBarPlay {
    position: absolute;
    width: 20%;
    height: 16px;
    line-height: 16px;
}

#myBarDef {
    z-index: 2;
    background-color: var(--defined-cell-bg-color);
    color: white;
    text-align: center;
}

#myBarPlay {
    z-index: 1;
    background-color: var(--played-cell-bg-color);
    color: black;
    text-align: right;
    padding-right: 5px;
}

.total-bar-value {
    line-height: 16px;
    vertical-align: center;
}

/*=======================================*/
/* DB-Dialog 
/*=======================================*/

.puzzle-header {
    font-size: var(--font-size-xl);
    display: inline-block;
    color: black;
    margin-top: 10px;
}



.puzzle-table-dlg {
    
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

/* ===================================================*/
/*  Save and rename dialogs                           */
/*====================================================*/

.puzzle-dlg {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.4rem;
}

.puzzle-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.puzzle-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.dlg-header {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

label {
    font-size: var(--font-size);
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
}

.puzzle-name-input-dlg {
    width: 90%;
    margin-left: 1.2rem;
    padding: 0.8rem;
    font-size: var(--font-size);
}

.ok-cancel-btns {
    margin: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

.okCancelBtn {
    width: 50%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/*=======================================*/
/* Success-Dialog 
/*=======================================*/
.successDlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.successDlg {
    width: 60%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.dlg-header {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 1.2rem;
    text-align: center;
}

.further-row {
    display: flex;
    margin-top: auto;
    margin-left: 10px;
}

label {
    margin-left: 10px;
}

.successImg {
    margin-left: 10px;
    margin-right: auto;
    height: 85%;
    width: 85%;
}

.successDlg-OK-Btn {
    width: 100px;
    margin-top: 10px;
    /* margin-left: auto; */
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*=======================================*/
/* Info-Dialog 
/*=======================================*/
.infoDlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.infoDlg {
    width: 60%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.infoDlgHeader {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.infoDlgBodyRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.infoDlgBody {
    font-size: var(--font-size);
    margin-left: 10px;
}

.infoIcon {
    margin-left: 5px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
}

.infoDlg-OK-Btn {
    width: 100px;
    margin-top: 10px;
    /* margin-left: auto; */
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}


/*=======================================*/
/* Puzzle-Datenbank 
/*=======================================*/
.puzzle-db-root {
    display: flex;
    flex-direction: column;
    height: 95vh;
}
puzzle-db-header-outmost {
    background-color: #500;
    flex-grow: 1;
}

puzzle-db-footer-outmost {
    background-color: #500;
    flex-grow: 1;
}

.container-puzzle-buttons {
    background: #500;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #500;
    border-left: 5px solid #500;
    border-right: 5px solid #500;
    
}
#pz-btn-delete {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.puzzle-db-button {
    background-color:  #ddd;;
    text-align: center;
    font-size: var(--font-size-xl);
    border-radius: 0.5rem;
    border: none;
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.puzzle-db-button:active {
    transform: translate(2px, 2px);
}

.puzzle-btns {
    /*   border-bottom: 5px solid black; */
    /* background: #500;
    padding-bottom: 1rem;
    margin-left:0.1rem;
    margin-top: 0.5rem;

    display: flex;
    flex-direction: row;
    gap: 0.1rem; */

    margin-left: 0.2rem;
    margin-right: 0.2rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2rem;
}

/* ========================================*/

.status-line {

    font-size: var(--font-size);
    color: black;
    padding-top: 5px;
    margin-top: 5px;

    line-height: normal;
    display: flex;
    width: 100%;
}

.status-line-item {
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;

}


.pz-nr {
    margin-left: 10px;
    margin-right: 5px;
}

.pz-all {
    margin-left: 5px;
    margin-right: 20px;
}


/*======================================*/
/* Print */
/*======================================*/
.print-content {
    display:none;
}

.puzzle-header-print {
    font-size: var(--font-size-xl);
    display: inline-block;
    color: black;
    margin-top: 10px;
}

.puzzle-line-print {
    font-size: var(--font-size);
    color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    line-height: normal;
}


.pz-table-print {
    margin-left: 30px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: repeat(9, auto);
}

.cell-field {
    font-size: var(--font-size);
    position: relative;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
}

section {
    font-size: var(--font-size);
    position: relative;
    /* border: 1px solid #000; */
    padding-top: 37px;
    background: #500;
}

section.positioned {
    position: absolute;
    top: 50px;
    left: 50px;
    box-shadow: 0 0 15px #333;
}

.container {
    overflow-y: auto;
    /* Höhe der sichtbaren Puzzle-Tabelle hier einstellen. */
    height:75vh;
}

table {
    border-spacing: 0;
    width: 100%;
}

.puzzle-db-table td+td {
    border-left: 1px solid #eee;
}
section div {
    font-size: var(--font-size);
}

.puzzle-db-table td,
th {
    border-bottom: 1px solid #eee;
    background: #ddd;
    color: #000;
    /* Zeilenhöhe der Tabelle mit erstem Parameter einstellen. */
    padding: 10px 5px;
    font-size: var(--font-size);
}

.puzzle-db-table th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
    font-size: var(--font-size);
}

.puzzle-db-table th div {
    position: absolute;
    background: transparent;
    color: #fff;
    padding: 8px 5px;
    top: 0;
    margin-left: -2px;
    line-height: normal;
    border-left: 1px solid #800;
}

.puzzle-db-table th:first-child div {
    border: none;
}

.puzzle-db-tbody tr.selected td {
    background-color: lightcyan;
}

#loader {
    display: none;
    position: absolute;
    left: 30%;
    top: 20%;
    z-index: 2;
    width: 200px;
    height: 200px;
    border: 48px solid #fbf9f900;
    border-radius: 50%;
    border-top: 48px solid var(--defined-cell-bg-color);
    border-bottom: 48px solid black;
    border-right: 48px solid var(--played-cell-bg-color);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*======================================*/
/* Global block */
/*======================================*/
.zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.cell-err {
    animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@keyframes zoom-out-shake {
    0% {
        transform: scale(2);
    }

    25% {
        transform: scale(2) rotate(30deg);
    }

    50% {
        transform: scale(2) rotate(-30deg);
    }

    100% {
        transform: scale(1);
    }
}