:root {
    /* app colors */
    --screen-bg-color: #F2E2F2;
    --screen-color: #0d1117;
 
    --standard-btn-bg-color: rgba(0,0,0,.25);
    --standard-btn-color: black;
    --delete-btn-bg-color:  #e91e63; 
    --delete-btn-color: white;

    --help-color: #4e67c8; 
   
    /* Cell colors */
    --defined-cell-bg-color: #7986CB;
    --defined-cell-color: #FFF9C4;

    --played-cell-bg-color: #4DB6AC;
    --played-cell-color: #0d1117;

    --nested-cell-bg-color: #ebdaa4;
    --nested-cell-color: black;

    --selected-cell-bg-color: black;
    --selected-cell-color: white;
    --selected-cell-border-color: black;

    --error-cell-bg-color:  #e91e63;
    --error-cell-color: white;

     /* Other definitions */

    --sudoku-cell-size: 35px;
    --border-radius: 5px;
    --space-y: 10px;
    --border-size-standard: 1px;
    --gap: 2px;
    --font-size-btn: 1.6rem;
    --font-size-sm: 1rem;
    --font-size: 1.2rem;
    --font-size-lg: 1.8rem;
    --font-size-xl: 2.4rem;

    /* Setting the global font size */
    /* Prozent von der Browser Font-Einstellung */
   /* font-size: 62.5%; */
    font-size: 45%;
    /* Effekt: 1rem = 10px; */
}

* {
    padding: 0;
    margin: 0;
    /* padding and border are included in the width and height */
    box-sizing: border-box;
}

.tooltip {
    position: relative;
    display:inline-block ;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -30px;
    left: 50%; 
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  

body {
    font-family: 'Open Sans', sans-serif;
    /* Text kann nicht selektiert werden */
    user-select: none;
}

.main {
  
    padding: 10px;
    display: grid;
    place-items: center;
}

/*
.screen {
  
    position: relative;
    height: 100%;
    min-width: 400px;
}
*/

/*======================================*/
/* Sudoku grid block */
/*======================================*/

.main-sudoku-grid {
    padding:5px;
    display: grid;
    /*gap: var(--gap);*/
    grid-template-columns: repeat(3, auto);
    border: var(--border-size-standard) solid var(--screen-bg-color);
    background-color : var(--screen-bg-color);
}

.sudoku-group {
    margin: 3px;
    display: grid;
    /*gap: 3px; */
    grid-template-columns: repeat(3, auto);
    border-radius: var(--border-radius);
    place-items: center;
}

.sudoku-grid-cell {
    height: var(--sudoku-cell-size);
    width: var(--sudoku-cell-size); 
    border-radius: var(--border-radius);
    display: grid; 
    font-size: var(--font-size-btn);
    place-items: center;
    cursor: pointer;
    margin: 1px;
}

.sudoku-grid-cell.define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}
.sudoku-grid-cell.play {
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);
}

.sudoku-grid-cell.auto-value {
    display: grid;
    grid-template-columns: 0.1fr 1.2fr;
    place-items: center;
    font-size: 1.2rem;
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);
 }
.auto-step-number {
    padding-left:1px;
    padding-right: 1px;
    font-size: 1.0rem;
}
.autoValuePair {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    font-size: 1.2rem;
    border-left: 2px solid var(--nested-cell-bg-color);
    padding-left: 2px;
}

.auto-value {
    padding: 2px;;
    font-size: 1.6rem;
    font-weight: bold;
}

.value-options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    place-items: center;
    border-top: 2px solid var(--nested-cell-bg-color); 
    font-size: 1.2rem;
    padding-top: 2px;
    padding-left: 1px;
}
.open {
    color: var(--nested-cell-bg-color); 
}


.sudoku-grid-cell.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    font-size: 1.2rem;
    background-color: var(--nested-cell-bg-color);
    color: var(--nested-cell-color);
    border: 1px solid #0050ff
    }

.sudoku-grid-cell.selected {
    background-color: var(--selected-cell-bg-color);
    color: var(--selected-cell-color);
    border: 2px solid var(--selected-cell-border-color);
}

.nested>div.neccessary {
    padding: 2px;
    border-radius: 3px;
    background-color: #56c7aa;
    font-size: 1.5rem;
    color: #0d1117;
    border: 1px solid white;
}

.nested>div.inAdmissible {
    font-size: 1.5rem;
    background-color: Crimson;
    color: white;
    border: 1px solid white;
}


.nested>div.inAdmissible2Level  {
    padding: 2px;
    border-radius: 3px;
    font-size: 1.2rem;
    background-color: darkred;
    color: white;
    border: 1px solid white;
}


.nested>div.neccessary.inAdmissible {
    background:blueviolet;
}


.sudoku-grid-cell.hover {
    border: 3px solid var(--selected-cell-border-color);
}

.sudoku-group.err {
    background-color: var(--error-cell-bg-color);
    color: var(--error-cell-color);
}



.sudoku-grid-cell.row-err, .sudoku-grid-cell.col-err  {
    border: 3px solid var(--error-cell-bg-color);
}
.sudoku-grid-cell.col-err  {
    border-top : 5px solid var(--error-cell-bg-color);
    border-bottom: 5px solid var(--error-cell-bg-color);
}
.sudoku-grid-cell.row-err {
    border-left: 5px solid var(--error-cell-bg-color);
    border-right: 5px solid var(--error-cell-bg-color);
}




.sudoku-grid-cell.err {
    background-color: var(--error-cell-bg-color);
    color: var(--error-cell-color);
    border: 1px solid #0050ff;
}




.sudoku-grid-cell.err.selected {
    background-color: black;
}

.inputArea {
    display: grid;
    grid-template-columns: 1fr;
}

.evaluations {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    padding-top: 5px;
    padding-left:10px;
    padding-right: 5px;
    background-color : var(--screen-bg-color);

}

.sudoku-header {
    background-color: var(--screen-bg-color);
    color: var(--screen-color);
    border-bottom: 1px solid var(--screen-bg-color);
    text-align: center;
    font-weight:bold;

}
.helpNode {
   
    color: var(--help-color);
    font-size: 1.6rem;
}

.sudoku-title {
    display:none;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: xx-large;

}
.help {
    display: none;
    margin-bottom:10px;
}
/*======================================*/
/* Exec button block                  */
/*======================================*/

.game-col2 {
    border-top: 1px solid var(--screen-bg-color);
    border-right: 1px solid var(--screen-bg-color);
    border-bottom: 1px solid var(--screen-bg-color);
    background-color: var(--screen-bg-color);
    color: var(--screen-color);
    font-size: 1.6rem;
}


.exec-btn-groups {
    padding-left: var(--space-y);
    padding-right: var(--space-y);
}

.exec-btn-group, .auto-exec-container {
    margin-top: 5px;

}

.manual-exec-btns, .automatic-exec {
    margin-top: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
}

.mode-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.btn-define, .btn-play {
    box-shadow: 3px 3px darkgray;
    margin: 5px;
}

.btn-define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}


.btn-define.pressed, .btn-play.pressed {
    box-shadow: 0px 0px darkgray;
    transform: translate(2px, 2px);
}


.numbers {
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}


.number {
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    background-color: var(--standard-btn-bg-color);
    color: var(--standard-btn-color);
    display: grid;
    place-items: center;
    font-size: var(--font-size-btn);
    box-shadow: 3px 3px darkgray;
    cursor: pointer;
}

.number:active, .delete:active {
    box-shadow: 0 0px darkgray;
    transform: translate(2px, 2px); 
}
.delete {
    background-color: var(--delete-btn-bg-color);
    color: var(--delete-btn-color);
    height: var(--sudoku-cell-size);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
    font-size: var(--font-size-btn);
    box-shadow: 3px 3px darkgray;
    cursor: pointer;
}

.number:active, .delete:active, .btn-redo:active, .btn-undo:active, .btn-automatic:active {
    transform: translate(2px, 2px);
}

.auto-exec-btns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.btn-auto-group {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.btn-image {
    width: 16px;
    height: 16px;
}


.btn-define, .btn-play, .btn-automatic {
    padding: 5px;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px darkgray;
    border: hidden;
    display: grid;
    place-items: center;
    font-size: var(--font-size-btn);
    cursor: pointer;
    
}
.btn-automatic:active {
    box-shadow: 0 0px darkgray;
    transform: translate(2px, 2px); 
}

.btn-play {
    margin:5x;
    background-color: var(--played-cell-bg-color);
    color: var(--standard-btn-color);
}

.btn-automatic {
    margin:5x;
    background-color: var(--standard-btn-bg-color);
    color: var(--standard-btn-color);
}

/*======================================*/
/* Main button block */
/*======================================*/

.main-btns {
    /*  border: 5px solid var(--red);  */
    border-left: var(--border-size-standard) solid var(--screen-bg-color);
    border-right: var(--border-size-standard) solid var(--screen-bg-color);
    border-bottom: var(--border-size-standard) solid var(--screen-bg-color);
    background-color: var(--screen-bg-color);
    padding: 5px;
    /* margin-bottom: 10px; */
    /* display: grid;
    grid-template-columns: 1fr;
    gap: 5px; */
}

.config-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.storage-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.main-btn:active {
    box-shadow: 0 0px darkgray;
    transform: translate(2px, 2px);
}

.main-btn {
    box-shadow: 3px 3px darkgray;
    background-color: var(--standard-btn-bg-color);
    color: var(--standard-btn-color);
    border-radius: var(--border-radius);
    border: hidden;
    display: grid;
    place-items: center;
    margin: 5px;
    padding: 5px;
    font-size: var(--font-size-btn);
    cursor: pointer;
}
/*======================================*/
/* Progress block */
/*======================================*/

.progress-box {
    padding-top: 2px;
    padding-left: var(--space-y);
    padding-right: var(--space-y);
    padding-bottom: 2px;
    border-left: var(--border-size-standard) solid var(--screen-bg-color);
    border-right: var(--border-size-standard) solid var(--screen-bg-color);
    border-bottom: var(--border-size-standard) solid var(--screen-bg-color);
    background-color: var(--screen-bg-color);
    color:var(--screen-color);
    font-size: 1.6rem;
}
.track-group {
    display:none;
}

/*
.manual-exec-btns.on, .automatic-exec.on {
    padding-right: 10px;
    border-right: 5px solid var(--standard-btn-bg-color);
}
*/

.manual-exec-btns, .automatic-exec {
    padding-right: 1px;
}

.name-value {
    display: inline;
}

.depth-group {
    margin-top: 2px;
    display: grid;
    grid-template-columns: 0.35fr 0.5fr 0.5fr;

}

.depth-label, .progress-label {
    font-weight: bold;
}

.progress-group {
    margin-top: 5px;
    margin-right: 1px;
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 1fr;
    gap: 2px;
}

.settings {
    font-size: 1.6rem;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.search-max-depth, .speed-field {
    margin-top: 3px;
}

.search-depth {
    color: var(--screen-color);
    font-weight: bold;
}

.speedSetting {
    padding: 1px;
    background-color: var(--screen-bg-color);
    border: solid 1px;
    font-size: 1.3rem;
}
.checkbox {
    margin-left: 3px;
    background-color: var(--screen-bg-color);
}

.step-count-box {
    height: 20px;
    line-height: 20px;
}
.forward-backward-image {
    width: 12px;
    height: 18px;
}
.forward, .backward {
    height: 20px;
    padding-left: 7px;
    padding-right: 7px;
}
.autoMode-radio-btns {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--screen-bg-color);   
}
.forward.checked, .backward.checked {
    background-color: var(--played-cell-bg-color);
}

#myProgress {
    position: relative;
    width: 100%;
    height: 20px;
    font-size: 1.6rem;
    text-align:right;
    padding-right: 5px;
    background-color: var(--nested-cell-bg-color);
}

#myBarDef, #myBarPlay {
    position: absolute;
    line-height: 20px;
}

#myBarDef {
    z-index: 2;
    background-color: var(--defined-cell-bg-color);
    color: black;
    text-align: center;
}

#myBarPlay {
    z-index: 1;
    background-color: var(--played-cell-bg-color);
    color: black;
    text-align:right;
}
.total-bar-value {
    line-height: 20px;
    vertical-align:center;
}


.textInDlgs {
    font-size: 1.6rem;
    float: left; 
    width: 49%; margin-right: 1%; 
    padding: 2px; 
    box-sizing: border-box; 
}
.textInDlgs:last-child { margin-right: 0px; }


.input-row {
    margin: 10px;
}


.ok-cancel-btns {
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.successForm, .dlg-form {
    margin-left: 5px;
    margin-top: 5px; 
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
}

.successImg {
    margin-left: 15px;
    width: 120px;
    height: 180px;
}


/*=======================================*/
/* WinBox 
/*=======================================*/
.wb-full  { display: none }
.wb-title { font-size: 1.6rem }
.wb-body {
    /* the width of window frame border: */
    margin: 4px;
}

/*======================================*/
/* Global block */
/*======================================*/
.zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.cell-err {
    animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-out-shake {
    0% {
        transform: scale(2);
    }

    25% {
        transform: scale(2) rotate(30deg);
    }

    50% {
        transform: scale(2) rotate(-30deg);
    }

    100% {
        transform: scale(1);
    }
}
