:root {
    /* app colors */
    /*    --screen-bg-color: white; */
    --screen-bg-color: #F2E2F2;
    --screen-color: #0d1117;
    --standard-btn-bg-color:
    rgba(0, 0, 0, .25);
    --standard-btn-color: black;
    --standard-btn-height: 20px;
    --delete-btn-bg-color: #e91e63;
    --delete-btn-color: white;

    --help-color: #4e67c8;

    /* Cell colors */
    --defined-cell-bg-color: #7986CB;
    --defined-cell-color: #FFF9C4;

    --played-cell-bg-color: #4DB6AC;
    --played-cell-color: #0d1117;

    --nested-cell-bg-color: #ebdaa4;
    --nested-cell-color: black;

    --selected-cell-bg-color: black;
    --selected-cell-color: white;
    --selected-cell-border-color: black;

    --error-cell-bg-color: #e91e63;
    --error-cell-color: white;

    /* Other definitions */
    --sudoku-cell-size: 62px;
    --border-radius: 5px;
    --space-y: 20px;
    --font-size-btn: 1.2rem;
    --font-size-sm: 1rem;
    --font-size: 1.2rem;
    --font-size-lg: 1.8rem;
    --font-size-xl: 2.4rem;

    /* Setting the global font size */
    /* Prozent von der Browser Font-Einstellung */
    font-size: 62.5%;
    /* Effekt: 1rem = 10px; */
}

* {
    padding: 0;
    margin: 0;
    /* padding and border are included in the width and height */
    box-sizing: border-box;
}

/* Set height of body and the document to 100% */
body,
html {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background-color: var(--screen-bg-color);
}

.app-content {
    display:grid;
}
/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    /*  cursor: pointer; */
    padding: 10px 12px;
    /* font-size: 17px; */
    font-size: 1.2rem;
    font-weight: bold;
    width: 25%;
}

.tablinkdatabase {
    background-color: #666;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
 }


.tabcontent {
    display: none;
    color: black;
    padding: 10px;
}

.tabsolver, .tabdatabase {
    max-width: fit-content;
    min-width:fit-content; 
}
.tabhelp {
    width: 100%;
}

.puzzle-header {
    font-size: 1.2rem;
    display: inline-block;
    color: black;
    margin-top: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -30px;
    left: 50%;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*======================================*/
/* Sudoku grid block */
/*======================================*/
.sudoku-solver-in-tab {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.gridArea {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.main-sudoku-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.sudoku-block {
    margin: 3px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    border-radius: var(--border-radius);
    place-items: center;
}

.sudoku-grid-cell {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: var(--border-radius);
    display: grid;
    font-size: var(--font-size-btn);
    place-items: center;
    /*    cursor: pointer; */
    margin: 2px;
}

.sudoku-grid-cell.define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}

.sudoku-grid-cell.play {
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);
}


.auto-step-number {
    grid-area: step;
}

.auto-value-number {
    grid-area: value;
}

.auto-value-option1 {
    grid-area: option1;
}

.auto-value-option2 {
    grid-area: option2;
}

.auto-value-option3 {
    grid-area: option3;
}

.auto-value-cell {
    display: grid;
    grid-template-areas:
        'step value value value'
        'step option1 option2 option3';
    gap: 2px;
    background-color: grey;
    color: var(--played-cell-color);
}

.auto-value-cell>div {
    background-color: var(--played-cell-bg-color);
    text-align: center;
    padding: 0.1rem ;
}

.auto-value-cell>div.auto-step-number {
    background-color: darkgrey;
    color: black;
    font-size: 0.8rem;
    width: 1rem;
}

.auto-value-cell>div.auto-value-number {
    font-size: var(--font-size-btn);
}

.auto-value-cell>div.auto-value-option1 {
    font-size: 0.8rem;
    width: 0.6rem;
    padding: 0.1rem ;
}

.auto-value-cell>div.auto-value-option2 {
    font-size: 0.8rem;
    width: 0.6rem;
    padding: 0.1rem ;
}

.auto-value-cell>div.auto-value-option3 {
    font-size: 0.8rem;
    width: 0.6rem;
    padding: 0.1rem ;
}

.auto-value-cell>div.open {
    font-size: 0.8rem;
    background-color: var(--nested-cell-bg-color);
}

.sudoku-grid-cell.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    font-size: 1.0rem;
    background-color: var(--nested-cell-bg-color);
    color: var(--nested-cell-color);
    border: 1px solid #0050ff
}

.sudoku-grid-cell.selected {
    background-color: var(--selected-cell-bg-color);
    color: var(--selected-cell-color);
    border: 2px solid var(--selected-cell-bg-color);
}

.nested>div.neccessary {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    background-color: #56c7aa;
    font-size: 1.0rem;
    color: #0d1117;
    border: 1px solid white;
}

.nested>div.indirect-neccessary {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    background-color: #56c7aa;
    font-size: 1.0rem;
    color: #0d1117;
    border: 1px solid wheat;
}

.nested>div.inAdmissible {
    font-weight: bold;
    font-size: 1.0rem;
    color: Crimson;
}
/*
.nested.err>div.inAdmissible {
    background-color: white;
}
*/
.nested.err>div.neccessary.inAdmissible {
    background-color: #56c7aa;
}




.sudoku-grid-cell.hover {
    border: 2px solid var(--selected-cell-border-color);
}

.sudoku-grid-cell.hover-red {
    border: 3px dashed Crimson;
}

.sudoku-grid-cell.hover-green {
    border: 3px dashed darkgreen;
}

.sudoku-block.err {
    background-color: var(--error-cell-bg-color);
    color: var(--error-cell-color);
}

.sudoku-grid-cell.row-err,
.sudoku-grid-cell.col-err {
    border: 3px solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.col-err {
    border-top: 2px solid var(--error-cell-bg-color);
    border-bottom: 2px solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.row-err {
    border-left: 2px solid var(--error-cell-bg-color);
    border-right: 2px solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.err {
    /* background-color: var(--error-cell-bg-color); 
    color: var(--error-cell-color); */
    border: 4px solid Crimson;
}

.sudoku-grid-cell.err.selected {
    background-color: black;
}

.evaluations, .loaded-evaluations {
    font-size: 1.0rem;
    display: flex;
    padding-top: 5px;
}

.technique, .reasonInsolvability {
    font-size: 1.0rem;
    display: flex;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    background-color: lightgrey;
}

.reasonInsolvability {
    color: Crimson; 
}


.sudoku-header {
    color: var(--screen-color);
    text-align: center;
    font-weight: bold;

}

.helpNode {
    color: var(--help-color);
    font-size: 1.6rem;
}

.help-embed {
    width: 100%;
    height: 85vh;
}

.sudoku-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 2.4rem;

}

.help {
    margin-bottom: 10px;
}

/*======================================*/
/* Exec button block                  */
/*======================================*/

.mobile-grid-container {
    display: none;
}

.game-col2 {
    margin-top: 10px;
    margin-left: 10px;
}

.pc-btn {
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    height: var(--standard-btn-height);
    border-radius: var(--border-radius);
    background-color: var(--standard-btn-bg-color);
    color: var(--standard-btn-color);
    font-size: var(--font-size-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px black;
    
}

.pc-btn:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.mode-btn-block p {
    font-weight: bold;
    font-size: 1.0rem;
}


.manual-btn-block {
  margin-top: 10px;
}

.manual-btn-block p {
    font-weight: bold;
    font-size: 1.2rem;
}

.mode-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.btn-define,
.btn-play {
    margin: 5px;
}

.btn-define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}

.btn-play {
    background-color: var(--played-cell-bg-color);
    color: var(--standard-btn-color);
}


.btn-define.pressed,
.btn-play.pressed {
    box-shadow: 0px 0px darkgray;
    transform: translate(2px, 2px);
}

.numbers {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.number {
    display: grid;
    place-items: center;
    /* cursor: pointer; */
}

.btn-delete-cell {
    background-color: var(--delete-btn-bg-color);
    color: var(--delete-btn-color);
    display: grid;
    place-items: center;
    /*  cursor: pointer; */
}

.automatic-btn-block {
    margin-top: 10px;
}
.automatic-btn-block p {
    font-weight: bold;
    font-size: 1.2rem;
}

.auto-exec-btns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.btn-auto-block {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.btn-image {
    width: 18px;
    height: 16px;
}

.puzzle-btn-block {
    margin-top: 10px;
}
.puzzle-btn-block p {
    font-weight: bold;
    font-size: 1.2rem;
}


.btn-automatic p {
    font-weight: unset;
}

#btn-autoStep {
    display: block;
    height: 40px;
}

.config-btns {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.storage-btns {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
}

#image-autostep {
    display: none;
}


.eval-btn-block {
    margin-top: 10px;

}
.eval-btn-block p {
    font-weight: bold;
    font-size: 1.2rem;
}

label {
    font-size: var(--font-size-btn);
}

.storage-btns-mobile {
    display: none;
}


/*======================================*/
/* Progress block */
/*======================================*/

.progress-box {
    border-bottom: 3px solid #0d1117;
    padding-top: 5px;
    padding-bottom: 10px;
    color: var(--screen-color);
    font-size: 1.0rem;
}

.progress-block {
    margin-top: 5px;
    line-height: 16px;
    display: grid;
    grid-template-columns: 0.25fr 0.1fr 1fr;
    gap: 2px;
}

.evaluation {
    font-size: 1.0rem;
    margin-left: 10px;
}

.eval-type {
    margin: 5px;
}
.checkbox {
    margin-left: 3px;
    background-color: var(--screen-bg-color);
}

.step-count-box {
    line-height: 16px;
    height: 16px;
    display: flex;
    margin-right: 5px;
    width: 70px;
}

.forward-backward-image {
    width: 15px;
    height: 15px;
}

.forward,
.backward {
    height: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.autoMode-radio-btns {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--screen-bg-color);
}

.forward.checked,
.backward.checked {
    background-color: var(--played-cell-bg-color);
}

#myProgress {
    position: relative;
    width: 100%;
    height: 16px;
    font-size: 1.0rem;
    text-align: right;
    padding-right: 5px;
    background-color: var(--nested-cell-bg-color);
}

#myBarDef,
#myBarPlay {
    position: absolute;
    width: 20%;
    height: 16px;
    line-height: 16px;
}

#myBarDef {
    z-index: 2;
    background-color: var(--defined-cell-bg-color);
    color: white;
    text-align: center;
}

#myBarPlay {
    z-index: 1;
    background-color: var(--played-cell-bg-color);
    color: black;
    text-align: right;
    padding-right: 5px;
}

.total-bar-value {
    line-height: 16px;
    vertical-align: center;
}


.mobile-help {
    display: none;
}


.textInDlgs {
    font-size: 1.6rem;
    float: left;
    width: 49%;
    margin-right: 1%;
    padding: 2px;
    box-sizing: border-box;
}

.textInDlgs:last-child {
    margin-right: 0px;
}

.input-row {
    font-size: 1.6rem;
    margin: 5px;
}

input {
    padding: 5px;
}

input[readonly] {
    background-color: darkgrey;
}

.ok-cancel-btns {
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.successForm,
.dlg-form {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
}


.successImg {
    margin-left: 30px;
    height: 270px;
    width: 180px;
}


/*=======================================*/
/* WinBox 
/*=======================================*/
.wb-full {
    display: none
}

.wb-title {
    font-size: 1.6rem
}

.wb-body {
    /* the width of window frame border: */
    margin: 4px;
}


/*=======================================*/
/* Puzzle-Datenbank 
/*=======================================*/

.puzzle-btns {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.status-line {

    font-size: 1.0rem;
    color: black;
    padding-top: 5px;
    margin-top: 5px;
    line-height: normal;
    display: flex;
    width: 100%;
}

.status-line-item {
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;

}

.puzzle-line {
    font-size: 1.0rem;
    color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    line-height: normal;
}

.pz-nr {
    margin-left: 10px;
    margin-right: 5px;
}

.pz-all {
    margin-left: 5px;
    margin-right: 20px;
}

#print-puzzle {
    display: none;
}

.pz-table,
.solution-table {
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: repeat(9, auto);
}

.cell-field {
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
}

#pz-btn-print {
    margin-top: 10px;
    margin-left: 50px;
    width: 140px;
}

.tabdatabase {
    padding-bottom: 100px;
}

section {
    font-size: 1.0rem;
    position: relative;
    border: 1px solid #000;
    padding-top: 37px;
    background: #500;
}

section.positioned {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 600px;
    box-shadow: 0 0 15px #333;
}

.container {
    overflow-y: auto;
    height: 100px;
}

table {
    border-spacing: 0;
    width: 100%;
}

.puzzle-db-table td+td {
    border-left: 1px solid #eee;
}

.puzzle-db-table td,
th {
    border-bottom: 1px solid #eee;
    background: #ddd;
    color: #000;
    padding: 5px 5px;
}

.puzzle-db-table th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}

.puzzle-db-table th div {
    position: absolute;
    background: transparent;
    color: #fff;
    padding: 8px 5px;
    top: 0;
    margin-left: -2px;
    line-height: normal;
    border-left: 1px solid #800;
}

.puzzle-db-table th:first-child div {
    border: none;
}

.puzzle-db-tbody tr.selected td {
    background-color: lightcyan;
}

#loader {
    display: none;
    position: absolute;
    left: 30%;
    top: 20%;
    z-index: 2;
    width: 200px;
    height: 200px;
    border: 48px solid #fbf9f900; 
    border-radius: 50%;
    border-top: 48px solid var(--defined-cell-bg-color);
    border-bottom: 48px solid black;
    border-right: 48px solid var(--played-cell-bg-color);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

/*======================================*/
/* Global block */
/*======================================*/
.zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.cell-err {
    animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@keyframes zoom-out-shake {
    0% {
        transform: scale(2);
    }

    25% {
        transform: scale(2) rotate(30deg);
    }

    50% {
        transform: scale(2) rotate(-30deg);
    }

    100% {
        transform: scale(1);
    }
}